.he1{
    font-weight: 800;
    font-size: 20px;
}
.he3{
    font-weight: 800;
    font-size: 25px;
}
.si{
    background-color:  rgb(190, 210, 235);
   
}
.he2{
    font-size: 25px;
    font-weight: 900;
    color: rgb(250, 122, 122);
}