.cibilb{
    box-sizing: content-box;
}
.ssi{
    background-color: rgb(190, 210, 235);
  
}
.b2{
    
    background-color: rgb(190, 210, 235);
    margin-top: 20px;
}
.b1{
   margin: 5px;
    background-color: rgb(190, 210, 235);
}