.n2 {
    text-decoration: none;
    color: rgb(7, 7, 7);
    color: rgb(7, 7, 7);
    /* justify-content: end; */
    font-size: 25px;
    padding-top: 10px;
    

}
.t{
    padding-left: 600px;
    
}


.n3 {

    background-color: rgb(190, 210, 235);
}

.n {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color: rgb(241, 184, 161);
}

.f {
    font-family: cursive;
    font-size: 15px;
    color: rgb(7, 7, 7);
}

.nf {
    text-align: left;
}

/* .nm{
    text-align: center;
} */

.y {
    display: flex;
}

.u {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: auto;
}
.u1{
    color: black;

}
.logn:hover{
    color: black;
}